<section class="d-flex justify-content-center row">
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>   
    <img src="{{ site.baseurl}}/assets/img/hadea_logo.png" width="auto" height="75px" alt="" >
    <div class="col-sm-5">
        <p style="text-align: center;">
            This project has received funding from the European Health and Digital Executive Agency (HaDEA) of the European Commission under the Connecting Europe Facility (CEF) program. <br/>
            <i>Agreement No.: INEA/CEF/ICT/A2020/2373266.</i>
        </p>
    </div>
</section>

<!-- Vendor JS Files -->
<script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<!-- Credits: Vector Images by www.freepik.com -->