<section class="d-flex justify-content-center row">
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <img
    src="{{ site.baseurl}}/assets/img/hadea_logo.png"
    width="auto"
    height="75px"
    alt=""
  />
  <div class="col-sm-5">
    <p style="text-align: center">
      This project has received funding from the European Health and Digital
      Executive Agency (HaDEA) of the European Commission under the Connecting
      Europe Facility (CEF) program. <br />
      <i>Agreement No.: INEA/CEF/ICT/A2020/2373266.</i>
    </p>
    <img
      src="https://www.cutercounter.com/hits.php?id=hexnockx&nd=5&style=5"
      alt="visitor counter"
      style="float: right"
    />
    <script
      type="text/javascript"
      src="https://www.counters-free.net/count/cq7i"
    ></script>
    <br />
    <a href="https://www.free-counters.org/">free Hit Counter</a>
    <script
      type="text/javascript"
      src="https://whomania.com/ctr?id=49c0a259e5a776432f74861362ed8b24048ef028"
    ></script>

    <script
      type="text/javascript"
      src="https://freecountercode.com/service/3hLzRZgdxjK8upoB9sW1"
    ></script>
    <!-- hitwebcounter Code START -->
    <a href="https://www.hitwebcounter.com" target="_blank">
      <img
        src="https://hitwebcounter.com/counter/counter.php?page=8655543&style=0006&nbdigits=5&type=ip&initCount=1642"
        alt="web counter"
    /></a>
  </div>
</section>

<!-- Vendor JS Files -->
<script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<!-- Credits: Vector Images by www.freepik.com -->
