<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>JCOP</title>
    <meta name="description"
        content="JCOP is a project funded by European Health and Digital Executive Agency under the Connecting Europe Facility (CEF) - Telecommunications Sector.">
    <meta name="keywords" content="JCOP, Cybersecurity, CEF, HaDEA, Informationsharing">
    <meta name="robots" content="index, follow">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <!-- Favicons -->
    <link href="{{ site.baseurl }}/assets/img/favicon.png" rel="icon">
    <link href="{{ site.baseurl }}/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/vendor/aos/aos.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>


    <!-- Template Main CSS File -->
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
</head>