<!-- ======= Navigation ======= -->
<header id="header">
  <div class="container">
    <div class="logo float-left">
      <a href="{{ site.baseurl }}/index.html"><img width="200px" height="45px"
          src="{{ site.baseurl }}/assets/img/logo.jpg" alt="" class="img-fluid"></a>
    </div>
    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/project.html">Project</a></li>
        <!-- <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li> -->
        <li><a href="{{ site.baseurl }}/timeline.html">Timeline</a></li>
        <li><a href="{{ site.baseurl }}/partners.html">Partners</a></li>
        <li><a href="https://github.com/eu-jcop/eu-jcop.github.io">GitHub
        <img src="{{ site.baseurl }}/assets/img/external_url.svg" alt="External url icon">
        </a></li>
      </ul>
    </nav><!-- .nav-menu -->
    <i class="icofont-search-1 search-toggle search-toggle-relative"></i>
    <div title="Search" class="top-search">
      <div class="container">
        <div class="row ">
          <div class="col-lg-12">
            <form method="get" action="https://google.com/search" target="_blank">
              <button type="submit">Search</button>
              <span>
                <input name="query" type="text" autocomplete="off" placeholder="Search with Google" maxlength="200" />
                <input name="q" type="hidden" value="site:jcop.eu"/>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- End Navigation -->